/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: poppins, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 3px solid #626f47;
  justify-content: space-between;
  align-items: center;
  color: #626f47;
  box-sizing: border-box;
}
.container-logo > img {
  width: 50px;
}

.container-navbar > a {
  text-decoration: none;
  font-size: 18px;
  color: #626f47;
}

nav > a {
  border: 1px solid;
  padding: 10px 15px;
  background-color: white;
  font-weight: 500;
}

.container-header nav > .navbar-our-packages {
  margin: 0 -5px;
}

.container-header nav > .navbar-call-us {
  margin-right: 1px;
  border-radius: 0px 4px 4px 0px;
}

.container-header nav > .navbar-home {
  border-radius: 4px 0 0 4px;
}

.container-main .container-hero > .container-heroh1 {
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
  font-size: 50px;
  color: #626f47;
}

.container-main .container-hero h4 {
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  color: #a4b465;
}

.container-content-utama {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.container-content {
  padding-left: 40px;
  width: 60%;
}

.image-autoslide {
  height: 480px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 20px;
}

.keterangan {
  margin-top: 15px;
  font-size: 20px;
  text-indent: 40px;
  color: #3c3d37;
}

.content-profil {
  display: flex;
  margin-top: 15px;
  align-items: center;
  margin-left: 40px;
}

.image-profil > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 20px;
}

.content-profil .data-profil {
  justify-content: flex-end;
  line-height: 25px;
  color: #3c3d37;
}
.data-profil > h1 {
  font-size: 20px;
  font-weight: bold;
}

.data-profil > p {
  font-style: italic;
}
.content-service {
  display: flex;
}
.content-benefit > h1 {
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #626f47;
}

.content-service .service-icon {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  width: auto;
  margin: 0 5px;
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #626f47;
  color: white;
  line-height: 20px;
}

.icon img {
  width: 50px;
  margin-bottom: 15px;
}

.icon > h1 {
  font-weight: 700;
  text-align: center;
}

.icon > p {
  margin-top: 10px;
  font-weight: 100;
}
.container-contact-us {
  width: 40%;
  padding: 0 40px;
  display: flex;
}

.header-contac-us h1 {
  padding: 60px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #626f47;
}

.header-contac-us p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 300;
  margin-bottom: 50px;
  color: #3c3d37;
}

.form-contact-us form {
  display: flex;
  flex-direction: column; /* Elemen form bertumpuk ke bawah */
}

.form-contact-us label {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
  color: #3c3d37;
}

.form-contact-us input[type="text"],
.form-contact-us input[type="email"] {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #3c3d37; 
  border-radius: 5px; 
  font-size: 14px;
  outline: none; 
  transition: border 0.2s; 
}

.form-contact-us input[type="text"]:focus,
.form-contact-us input[type="email"]:focus {
  border-color: #a4b465; 
}


.form-contact-us select {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #3c3d37;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.form-contact-us select:focus {
  border-color: #a4b465;
  
}

/* Tombol Submit */
.form-contact-us input[type="submit"] {
  background-color: #626f47; /* Warna latar tombol */
  color: #ffffff; /* Warna teks tombol */
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-contact-us input[type="submit"]:hover {
  background-color: #333333; /* Warna tombol saat hover */
}

